html {
  overflow: hidden;
  height: 100vh;
}

body {
  perspective: 1px;
  height: 100vh;
  transform-style: preserve-3d;
  overflow-x: hidden;
  overflow-y: scroll;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
section {
  padding: 100px 80px;
}

a {
  text-decoration: none;
  transition: all 0.3s ease;
}

p {
  font-family: Roboto Slab, sans-serif;
  font-size: 1em;
}

body {
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
}

:root {
  --bg-color: #09a6d4;
  --sc-color: #90a6d4;
  --dbg-color: rgb(17, 17, 17);
  --fc-color: rgb(112, 112, 112);
}
