body {
  /* height: 100svh;  */
  overflow-x: hidden;
}

main {
  perspective: 1px;
  height: 100svh;
  transform-style: preserve-3d;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto-Slab", sans-serif;
}
section {
  padding: 100px 80px;
}

a {
  text-decoration: none;
  transition: all 0.3s ease;
}

p {
  font-family: "Roboto Slab", sans-serif;
  font-size: 1em;
}

body {
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
  background: var(--dbg-color);
}

:root {
  --bg-color: #09a6d4;
  --sc-color: #90a6d4;
  --dbg-color: rgb(17, 17, 17);
  --fc-color: rgb(112, 112, 112);
}

::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  /* width: 20px; */
  background-color: rgb(120, 86, 57);
}

::selection {
  background-color: rgb(200, 147, 95);
  color: var(--dbg-color);
}
