header {
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 80px;
  transition: 0.5s ease;
}

header.active {
  background-color: var(--dbg-color);
}

header .brand {
  /* font-family: "Shadows Into Light", serif; */
  /* font-family: "Gloria Hallelujah", cursive; */
  font-family: "Merienda", cursive;
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}
header .brand:hover {
  color: #90a6d4;
}

header .navigation {
  position: relative;
}

header .navigation .navigation-items a {
  position: relative;
  color: white;
  font-size: 1em;
  font-weight: 500;
  text-decoration: none;
  margin-left: 30px;
  transition: 0.3s ease;
}

header .navigation .navigation-items a:before {
  content: "";
  position: absolute;
  background: white;
  width: 0;
  height: 2.5px;
  bottom: -6px;
  left: 0;
  transition: 0.3s ease;
}

header .navigation .navigation-items a:hover:before {
  width: 100%;
  background: rgb(200, 147, 95);
}
.home {
  position: relative;
  padding: 100px 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: rgb(160, 117, 76);
  height: 100svh;
  max-height: 800px;
}

.home:before {
  content: "";
  z-index: 777;
  position: absolute;
  background: rgba(251, 3, 3 0.034);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.home .content {
  z-index: 888;
  color: white;
  flex: 1;
  width: 70%;
  margin-top: 50px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap: 10px;
}

.home .content.active {
  display: flex;
}

.home .content h1 {
  font-size: 6vw;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-family: "Roboto slab", serif;
}

.home .content h1 span {
  font-size: 1.2em;
  font-family: Oswald, sans-serif;
  font-weight: 600;
  color: rgb(160, 117, 76);
}

.home .content p {
  line-height: 25px;
  max-width: 800px;
  font-family: "Roboto Slab", sans-serif;
}

.home .content a {
  background: var(--dbg-color);
  padding: 15px 47px;
  color: rgb(200, 147, 95);
  font-size: 1em;
  font-weight: bold;
  font-family: Oswald, serif;
  text-decoration: none;
  border-radius: 2px;
  text-transform: uppercase;
}

.home .content a:hover {
  background: rgb(200, 147, 95);
  color: black;
}

.home .media-icons {
  z-index: 888;
  position: absolute;
  right: 30px;
  display: flex;
  flex-direction: column;
  transition: 0.5s ease;
}

.home .media-icons a {
  color: white;
  font-size: 1.6em;
  transition: 0.3s ease;
  font-weight: bold;
}

.home .media-icons a:not(:last-child) {
  margin-bottom: 20px;
}

.home .media-icons a:hover {
  transform: scale(1.3);
  color: rgb(200, 147, 95);
}

.home img {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: brightness(70%);
}

.slider-navigation {
  z-index: 888;
  position: absolute;
  bottom: 0%;
  left: 50%;
  display: flex;
  align-items: center;
  transform: translate(-50%, -50%);
  margin-bottom: 30px;
}

.slider-navigation .nav-btn {
  width: 12px;
  height: 12px;
  background: white;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
  transition: 0.3s ease;
}

.slider-navigation .nav-btn.active {
  background: rgb(98, 60, 23);
}

.slider-navigation .nav-btn:not(:last-child) {
  margin-right: 20px;
}

.slider-navigation .nav-btn:hover {
  transform: scale(1.2);
}

.img-slide {
  position: absolute;
  width: 100%;
  clip-path: circle(0% at 0 50%);
}

.img-slide.active {
  clip-path: circle(150% at 0 50%);
  transition: clip-path 2s ease;
}

.scroll-top {
  background-color: var(--dbg-color);
  position: fixed;
  bottom: -10%;
  right: 3%;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  z-index: 9999;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.scroll-top i {
  color: white;
  font-size: 1.5em;
}

.scroll-top.active {
  opacity: 1;
  bottom: 3%;
}

/* ---- about section ---- */
.about {
  background-color: rgb(25, 27, 27);
  color: rgb(206, 206, 206);
}

.about .about--con {
  display: flex;
  gap: 0px;
  justify-content: center;
  padding: 100px 0;
}
.about .about--img {
  flex: 1;
  width: 100%;
  max-height: 800px;
  border-radius: 50px;
  overflow: hidden;
  max-width: 800px;
}
.about .about--img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50px;
}

.about .about--text {
  padding: 50px;
  flex: 1;
  display: flex;
  gap: 15px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 2px solid var(--sc-color);
  border-radius: 50px;
  border-left: none;
  max-width: 800px;
}
.about .about--text h1 {
  font: 3em Arial;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
  background: linear-gradient(45deg, var(--bg-color) 15%, var(--sc-color) 65%);
  background-clip: text;
  color: transparent;
}
.about .about--text p {
  line-height: 30px;
}

.divider {
  background: linear-gradient(45deg, var(--bg-color) 15%, var(--sc-color) 65%);
  padding: 2px;
}

/* more about us */
.more-about {
  background-color: rgb(236, 240, 241);
  color: black;
}

.reverse, .more-con {
  padding: 100px 0;
  display: flex;
  gap: 30px;
  align-items: stretch;
  justify-content: center;
  position: relative;
}
.reverse h1,
.more-con h1 {
  width: 500px;
  font-size: 3.5em;
  color: var(--sc-color);
  border-bottom: 2px solid var(--bg-color);
  position: absolute;
  top: 70px;
  text-align: end;
  text-transform: uppercase;
}

.reverse h1 {
  text-align: start;
}

.reverse .text-con,
.more-con .text-con {
  flex: 1;
  max-width: 800px;
  line-height: 25px;
  font-size: 1.2em;
  display: flex;
  align-items: end;
}
.more-con .text-con {
  text-align: end;
}
.reverse .img-con,
.more-con .img-con {
  max-width: 800px;
  height: 300px;
  flex: 1;
}
.reverse .img-con img,
.more-con .img-con img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* welcome */
.welcome {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  background-color: whitesmoke;
  color: var(--dbg-color)
}
.welcome .text-con {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;
  max-width: 600px;
  min-width: 400px;
}
.welcome .text-con h1 {
  font-weight: bolder;
  font-size: 1.8em;
  font-family: Oswald, serif;
  margin-bottom: 30px;
  text-align: center;
}
.welcome .text-con p{
  color: var(--fc-color);
  line-height: 25px;
  text-align: center;
  margin-bottom: 30px;
}
.read-more {
  background-color: var(--dbg-color);
  border: 2px solid var(--dbg-color);
  font-family: Oswald, serif;
  text-transform: uppercase;
  color: white;
  padding: 10px 47px;
  font-weight: bold;
}
.read-more:hover{
  background-color: white;
  color: var(--dbg-color);
}
.welcome .img-con {
  background-color: blue;
  flex: 1;
  height: 350px;
  max-width: 600px;
  min-width: 400px;
}
.welcome .img-con img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* menu */
.offer {
  background: white;
  color: var(--dbg-color);
}
.offer .img-con {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 50px;
}
.offer .img-con img:first-child {
  border-top-left-radius: 200px;
  border-bottom-right-radius: 200px;
  border-top-left-radius: 200px;
  border-bottom-right-radius: 200px;
  transform: rotateZ(35deg);
}
.offer .img-con img:last-child {
  border-bottom-left-radius: 300px;
  border-top-right-radius: 300px;
  border-bottom-right-radius: 25px;
  border-top-left-radius: 25px;
  transform: rotateZ(-30deg);
}
.offer img {
  /* border-radius: 200px; */
  width: 100%;
  height: 260px;
  max-width: 600px;
  object-fit: cover;
  transition: transform 0.3s ease;
}
.offer .img {
  z-index: 2;
  width: 100%;
  height: 260px;
  max-width: 600px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.offer img:hover {
  transform: scale(1.1) ;
}

.offer .text-con {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.offer .text-con h1 {
  font-weight: bolder;
  font-family: Oswald, serif;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.8em;
}
.offer .text-con p {
  color: var(--fc-color);
  margin-bottom: 30px;
  max-width: 700px;
  line-height: 25px;
}

/* parallax background */
.section1 {
  padding: 0;
  width: 100%;
  position: relative;
  transform-style: preserve-3d;
}
.section1::before {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
  background: url('images/10.jpg') top center;
  background-size: cover;
  transform: translateZ(-1px) scale(2.2);
  filter: brightness(40%);
}
.section1 {
  z-index: -1;
}

.text {
  top: 30%;
  left: 50%;
  position: absolute;
  font-size: 15vw;
  color: white;
  transform: scale(1, 1.1) translate(-50%, 10%);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3),
  5px 5px 70px rgba(255, 255, 255, 0.5);
}

/* .section1 .card-con {
  padding: 30px;
  height: 70vh;
  background-color: blue;
  display: flex;
  gap: 30px;
}

.section1 .card-con .card-bx {
  flex: 1;
  background-color: green;
  display: flex;
  gap: 30px;
}

.section1 .card-con .card {
  height: 350px;
  width: 300px;
  background: red;
} */

.section1 {
  padding: 100px 80px;
  display: flex;
  justify-content: center;
}
.wrapper {
  width: 100%;
  max-width: 1500px;
  position: relative;
}
.wrapper i {
  line-height: 50px;
  background: white;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  width: 50px;
  height: 50px;
  position: absolute;
  font-size: 1.25em;
  top: 50%;
  transform: translateY(-50%);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
  z-index: 9;
}
.wrapper i:first-child {
  left: -22px;
}
.wrapper i:last-child {
  right: -22px;
}
.wrapper .carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 12px);
  gap: 16px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: 0;
}
.carousel::-webkit-scrollbar {
  display: none;
}
.carousel.no-transition {

  scroll-behavior: auto;
}
.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.carousel.dragging .card {
  user-select: none;
  cursor: grab;
}
.carousel .card {
  scroll-snap-align: start;
  height: 350px;
  list-style: none;
  background: white;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.card .img {
  height: calc(100% / 2);
  flex: 1;
}
.card .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card .text-con {
  height: calc(100% / 2);
  flex: 1;
  padding: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  position: relative;
}
.card .text-con span {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  font-size: 1.2em;
  font-weight: bold;
  background: rgb(200, 147, 95);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -25px;
  transform: translateX(-50%);
  left: 50%;
}

/* chef recommendation section */
.reco {
  background-color: white;
}
.reco .head-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
.reco h1 {
  text-transform: uppercase;
  font-family: Oswald, serif;
  font-weight: bolder;
  text-align: center;
  font-size: 1.8em;
  margin-bottom: 30px;
}
.reco p{
  text-align: center;
  color: var(--fc-color);
  max-width: 700px;
  line-height: 25px;
}
.reco .menu {
  gap: 40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.reco .food-bx {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.reco .food-bx .bx-i,
.reco .food-bx .bx-ii {
  flex: 1;
}

.reco .food-bx .bx-i {
  text-transform: uppercase;
  font-family: Oswald, serif;
  font-weight: bolder;
  font-size: 1.1em;
  display: flex;
  align-items: end;
}
.reco .food-bx span {
  content: "";
  border-bottom: 2px dotted var(--fc-color);
  margin: 10px;
  flex: 1;
}
.reco .food-bx .bx-ii {
  font-size: 12px;
  font-weight: 500;
  font-family: Roboto slab, sans-serif;
  color: rgb(130, 130, 130);
}

/* Gallery */
.gallery {
  background-color: var(--dbg-color);
  height: 600px;
  display: flex;
  flex-direction: column;
  padding: 80px 40px;
}
.gallery .text-con {
  padding: 0 80px;
  margin-bottom: 40px;
  gap: 20px;
  display: flex;
  align-items: end;
}
.gallery .headers {
  display: flex;
  gap: 15px;
}
.gallery h1 {
  color: whitesmoke;
  font-size: 4vw;
  line-height: 4vw;
  font-family: "Shadows Into Light", serif;
}
.gallery span {
  display: flex;
  color: rgb(200, 147, 95);
  gap: 5px;
  text-wrap: nowrap;
  cursor: pointer;
}
.gallery span.clicked {
  color: white
}
.gallery .link-con {
  flex: 1;
  display: flex;
  justify-content: end;
}
.gallery .link-con .link {
  background-color: white;
  color: var(--dbg-color);
  font-family: Oswald, serif;
  padding: 10px 47px;
  font-weight: bold;
  text-wrap: nowrap;
  text-transform: uppercase;
}
.gallery .link:hover{
  background: rgb(200, 147, 95);
  cursor: pointer;
}
.gallery .img-con {
  flex: 1;
  display: flex;
  gap: 30px;
  position: relative;
  overflow: hidden;
  margin-bottom: 40px;
  mask-image: linear-gradient(
    right,
    rgb(0,0,0),
    rgba(0,255,0,1) 20%,
    rgba(0,255,0,1)80%,
    rgba(0,0,0,0),
  );
}
.gallery .img-con2 {
  flex: 1;
  display: flex;
  gap: 30px;
  position: relative;
  overflow: hidden;
}
@keyframes scrollLeft {
  to {
    left: -250px;
  }
}
@keyframes scrollRight {
  to {
    right: -250px;
  }
}
.gallery .img-con img {
  position: absolute;
  width: 250px;
  height: 100%;
  left: max(calc(250px * 5), 100%);
  object-fit: cover;
  animation: scrollLeft 30s linear infinite;
}
.gallery .img-con2 img {
  position: absolute;
  width: 250px;
  height: 100%;
  right: max(calc(250px * 5), 100%);
  object-fit: cover;
  animation: scrollRight 30s linear infinite;
}
.gallery .img-con2 .imgi, 
.gallery .img-con .img1 {
  animation-delay: calc(30s / 5 * (5 - 1) * -1);
}
.gallery .img-con2 .imgii,
.gallery .img-con .img2 {
  animation-delay: calc(30s / 5 * (5 - 2) * -1);
}
.gallery .img-con2 .imgiii,
.gallery .img-con .img3 {
  animation-delay: calc(30s / 5 * (5 - 3) * -1);
}
.gallery .img-con2 .imgiv,
.gallery .img-con .img4 {
  animation-delay: calc(30s / 5 * (5 - 4) * -1);
}
.gallery .img-con2 .imgv
.gallery .img-con .img5 {
  animation-delay: calc(30s / 5 * (5 - 5) * -1);
}

/* contact */
.contact {
  padding: 0;
}
.contact-con {
  padding: 100px 80px;
  background-color: white;
  display: flex;
  gap: 30px;
}
.map {
  flex: 1;
  /* background-color: red; */
}
.contact-con iframe {
  flex: 1;
  width: 100%;
  margin-bottom: 50px;
}
.contact-con .open-con {
  width: 400px;
  background: url("images/dark-background.jpg");
  background-size: cover;
  padding: 20px 30px;
  height: 500px
}
.contact-con .open-con .bx {
  border: 1px solid var(--fc-color);
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contact-con .open-con h1{
  color: white;
  font-size: 2.5em;
  font-family: Oswald, serif;
  text-align: center;
  text-transform: uppercase;
}
.contact-con .open-con h1 span{
  color: rgb(200, 147, 95);
  font-family: Oswald, serif;
}
.contact-con .open-con .bx p {
  font-family: "Roboto slab", sans-serif ;
  color: whitesmoke;
  display: flex;
  align-items: end;
}
.contact-con .open-con .bx p span {
  border-top: 2px dotted whitesmoke;
  flex: 1;
  margin: 5px;
}
.contact-con .contact-info {
  /* background-color: green; */
}
.contact-con .contact-info h1 {
  margin-bottom: 30px;
  font-family: Oswald, serif;
  text-transform: uppercase;
  font-size: 1.8em;
  flex: 1;
}
.contact-con .contact-info .contact-link {
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 1fr;
}
.contact-con .contact-info .contact-link a {
  color: black;
  font-family: "Roboto slab", sans-serif;
  font-size: 13px;
  text-wrap: wrap;
  display: flex;
  align-items: center;
  gap: 10px;
}
.booking {
  background-color: whitesmoke;
}
.booking form {
  display: flex;
  gap: 20px;
  padding: 0 10px;
  padding: 20px;
  height: 100%;
  align-items: center;
  font-family: Oswald, serif;
  font-size: 1em;
  flex-wrap: wrap;
}
.booking form span{
  font-size: 1.2em;
  font-family: Oswald, serif;
}
.booking form input,
.booking form input[type="text"],
.booking form select{
  flex: 1;
  height: 40px;
  padding: 2px 5px
}

.booking form input[type="submit"] {
  padding: 10px 47px;
  height: auto;
  flex: none;
  background: none;
  font-size: 1em;
  text-transform: uppercase;
  font-family: Oswald, serif;
  font-weight: bold;
  border: none;
  color: var(--dbg-color);
  cursor: pointer;
  background: rgb(200, 147, 95);
}

/* Footer */
footer {
  background-color: var(--dbg-color);
  padding: 0 40px;
  height: fit-content;
  display: flex;
  flex-direction: column;
}
footer .con{
  color: white;
  flex: 1;
  display: flex;
  align-items: start;
  justify-content: center;
  text-align: center;
  gap: 20px;
  padding: 40px 0;
  flex-wrap: wrap;
}
footer span{
  flex: 1;
  min-width: 200px;
}
footer h3{
  font-size: 1.2em;
  margin-bottom: 20px;
  font-family: serif;
}
footer .link {
  color: rgb(185, 185, 185);
  font-size: 16px;
  font-family: "Roboto+Slab", sans-serif;
  /* display: flex; */
}
footer .link i {
  padding: 2px;
}
footer .reserve .after {
  height: 2px;
  background: rgb(200, 147, 95);
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 100%;
  transition: all 0.3s ease;
}
footer .reserve {
  position: relative;
  color: rgb(185, 185, 185);
  font-size: 16px;
  font-family: "Roboto+Slab", sans-serif;
}
footer .reserve:hover .after {
  width: 0;
}
footer .link:hover {
  color: rgb(200, 147, 95);
}
footer .link i {
  font-size: 1.2em;
  padding: 0 5px;
}
footer .link i:hover {
  color: rgb(200, 147, 95);
}

footer .policy {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-top: 1px solid rgb(200, 147, 95);
  align-items: end;
  padding: 40px 0;
  gap: 20px;
  text-align: center;
}
footer .policy div {
  color: rgb(185, 185, 185);
  text-align: center;
}
footer .policy .developer-link {
  color: rgb(230, 230, 230);
  text-align: center;
}

@media (min-width: 1581px) {
  .reco .menu {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 1582px) and (max-width: 1282px) {
  .reco .menu {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1281px) {
  .welcome .text-con,
  .welcome .img-con {
    max-width: 1000px;
  }
}

@media (max-width: 1080px) {
  header {
    padding: 12px 20px;
  }
  
  .home,
  .about,
  .welcome,
  .offer,
  .section1,
  .reco,
  .contact-con,
  section {
    padding: 100px 20px;
  }
  
  .home .media-icons {
    right: 15px;
  }
  
  header .navigation {
    display: none;
  }
  
  header .navigation.active {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(1, 1, 1, 0.5);
  }
  
  header .navigation .navigation-items a {
    color: #222;
    font-size: 1.2em;
    height: 5px;
  }
  
  header .navigation .navigation-items a:before {
    background: #222;
    height: 5px;
  }
  
  header .navigation .navigation-items {
    background: white;
    width: 600px;
    max-width: 600px;
    margin: 20px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
  }
  
  .menu-btn {
    background: url;
  }

  .offer img {
    height: 230px;
  }
  .gallery .text-con {
    padding: 0;
    flex-wrap: wrap;
  }
}

@media (max-width: 840px) {
  .about .about--con {
    display: flex;
    gap: 30px;
  }

  .about .about--text {
    padding: 50px 10px;
  }

  .about .about--text h1 {
    margin-bottom: 20px;
  }

  .offer .img-con {
    flex-wrap: wrap;
  }
  .offer img {
    max-width: 300px;
  }

  .contact-con {
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
  .contact-con .map {
    width: 100%;
  }
  .contact-con .open-con {
    width: 100%;
    max-width: 500px;
    min-width: none;
  }

  footer .policy {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 740px) {
  /* .home .content h1 {
    font-size: 3.2em;
    line-height: 70px;
  } */

  .about .about--con {
    gap: 30px;
    flex-direction: column;
  }

  .about .about--text {
    padding: 50px 10px;
  }

  .about {
    padding: 100px;
  }
  .wrapper .carousel {
    grid-auto-columns: calc((100% / 2) - 9px);
  }
  .reco .menu {
    gap: 40px;
    display: grid;
    grid-template-columns: 1fr;
  }
  .contact-con {
    flex-wrap: wrap;
  }
}
@media (max-width: 700px) {
  .offer .img-con {
    gap: 50px
  }
  .offer img {
    max-width: 100000px;
    height: 400px;
  }
  .gallery {
    padding: 80px 20px;
  }
}

@media (max-width: 576px) {
  /* .home .content h1 {
    font-size: 2.5em;
    letter-spacing: 5px;
    line-height: 55px;
  } */

  .about {
    padding: 100px 50px;
  }

  .welcome .img-con,
  .welcome .text-con {
    min-width: 300px;
    max-width: auto;
  }

  .offer img {
    height: 200px;
  }
  .wrapper .carousel {
    grid-auto-columns: 100%;
  }
  .contact-con .contact-info .contact-link {
    grid-template-columns: 1fr;
  }
}
